# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a table which shows three development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Octave

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Keras

|Data Science Tools|
|-|
|Jupyter Notebooks|
|VSCode|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Jason R Englert